/*основной цвет текста и телефона #757575*/
/*основной tecxt #212121*/
/*основной цвет фона secshen #E5E5E5*/
/*цвет заголовка в герое h1 #FFFFFF*/
/*цвет ссілок и кнопок (єл.адеса) #2196F3*/
/*цвет фона футера и хыда #2F303A*/
/* цвет серого фона #F5F4FA*/
/**/
:root {
    --primary-text-color: #212121;
    --text-color: #757575;
    --accent-text: #2196F3;
    --herotitle: #FFFFFF;
    --bgr-color: #FFFFFF;

}
/*body */
body {
    height: auto;

    background-color: var(--bgr-color) ;
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}
.list {
    padding: 0;
    margin: 0;
    list-style: none;
}
h1, h2, h3, p {
    margin: 0;
}
     /*общее main*/
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.conteiner { 
    display: block;

    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;     
}

/*header*/
.page-header {
    border-bottom: 1px solid #ECECEC ;
}
.main-div {
    display: flex;
    align-items: center; 
}
.navigation {
    display: flex;
    margin: 0;
    padding: 0;
}
.logo {
    display: block;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-right: 92px;

    color: var(--accent-text);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}
.title {
    color: var(--primary-text-color);
}
.site-nav,
.site-list  {
    display: flex;    
}
.site-nav .item:not(:last-child),
.site-list .item:not(:last-child) {
      margin-right: 50px;
}
.site-nav a,
.site-list a { 
    display: block;
    padding-top: 32px;
    padding-bottom: 32px; 
   
    color: var(--primary-text-color);
    font-family: inherit;  
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none; 
}
.site-nav a:hover, .site-nav a:focus {
    color: var(--accent-text);
}
.site-list a:hover, .site-list a:focus {
    color: var(--accent-text);
}
.site-list {
    margin-left: auto;
    list-style: none;
}
.site-list .header-text {
    color: var(--text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
/*main*/
     /*общее main*/
.section-title { 
    margin-top: 0;
    margin-bottom: 50px;

    color: var(--primary-text-color);    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;    
}
.section-title.centered {
    text-align: center;
    font-size: ;
}
.text {
    color: var(--text-color);
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
        /*Hero*/
.hero {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/images1/hero.jpg);

    /*background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/

    text-align: center;
}
.hero-title {
    width: 696px;  
    margin-bottom: 30px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;

    color: var(--herotitle);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
}
.hero-button {   
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
     
    font-family: 'Roboto';
    font-style: normal;
    background-color: var(--accent-text);
    color: var(--herotitle);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;  
    letter-spacing: 0.06em;   
}
.site-nav .link.current {
    color: var(--accent-text);
}
       
     /*Advantage*/
.advantages-title {
    margin-top: 0px;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;    
    text-transform: uppercase;
}
.advantages-text {
    margin-top: 0; 

    color: var(--text-color);
    font-size: 14px;
    line-height: 1.71;
}   
.advantages-list {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 0px;
    margin-bottom: 0px; 
}
.advantages-list .item {
    width: 270px; 
}
.advantages-list .item:not(:first-child) {
        margin-left: 30px;
}
     /*DO*/
.section.no-padding {
    padding-top: 0;   
}
.do-list {
    display: flex;
 }
.do-list .item {
    display: flex;
    margin-right: 30px;
}
.do-list .item:last-child {
    margin-right: 0;
}
.section-picture {
    display: flex;
    width: 100%;
    height: 120px;
}

     /*Team*/
.team {
    background-color: #F5F4FA;
}
.site-nav .team-list {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 30px;
    align-items: center; 
    background-color: #FFFFFF; 
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 3px;
}
.team-list:last-child {
    margin-right: 0 auto;
}
.title-text {
    padding-top: 30px;
    padding-bottom: 30px;
}
.title-text .title { 
    padding: 0;
    margin-top: 0;
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;    
}
.title-text .text {
    padding: o;
    margin: 0;

    font-size: 16px;
    line-height: 1.9;
    text-align: center;    
}

/*Partners*/
.clients {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 0px;
    margin-bottom: 0px; 
}
.clients-item {
    margin: 0 auto;
}
.clients-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    margin-right: 30px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;

    border: 1px solid #AFB1B8;
    border-radius: 4px;
}
.clients .clients-link:last-child {
    margin-right: 0 auto;
}
.clients-link:hover, .clients-link:focus {
    color: var(--accent-text);
    border: 1px solid var(--accent-text);
}
.clients-icon {
    fill: currentColor;
    margin: 0;
}
.clients-icon:hover, .clients-icon:focus {
    fill: var(--accent-text);
}

/*Footer*/
.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}
.logo-footer {
    display: block;
    padding: 0;   

    color: var(--accent-text);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}
.footer-text {
    display: block;
    width: 231px;
    padding: 0;
    margin-top: 20px;      
}
.adress { 
    margin-top: 0;
    margin-bottom: 9px;
    padding: 0;
    color: var(--herotitle);
    font-size: 14px;
    line-height: 1.7; 
}
.adress-mail {
    display: block;
    margin-bottom: 9px;
    padding: 0;

    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}
.adress-tel {
    display: block;
    margin: 0;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}
.title-footer {
    color: var(--herotitle);
}
/*PAGE PORTFOLIO*/
        /*Filter button*/

.list-filter {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 50px;
    padding: 0;   
}
.list-filter .item {
    margin-right: 8px;
}
.list-filter .item:last-childer {
    margin-right: 0px;
}
.button-list {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    border: none;
    border-radius: 4px;

    font-family: 'Roboto';
    font-style: normal;  
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.7;   
    text-align: center;
}
.list-filter:hover,
.list-filter:focus {
    background-color: var(--accent-text);
    color: var(--herotitle);
}

       /*Progect*/
.project-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;    
}
.bloc {
    width: 370px;
    height: 398px;
    margin-left: 0;
    margin-right: 30px;
    margin-bottom: 30px;
    box-shadow: 0px 4px 4px 0px #00000040;

}
.bloc:nth-child(3n) {
    margin-right: 0px;
}
.bloc:nth-last-child(-n + 3) {
    margin-bottom: 0;
}
.bloc-text {
    display: block;
    width: 370px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 24px;
    padding-left: 24px;
    border: 1px solid #EEEEEE ;;
}
.bloc-text .title {
    margin-bottom: 4px;
    margin-top: 0px;

    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.bloc-text .text {
    margin: 0;
   color: var(--text-color);
    font-size: 16px;
    line-height: 1.88;
}
